.home-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fafafa;
}
.slider-container {
  padding: 30px 40px 20px 40px;
  background: #fafafa;
}
.inner-home-card {
  max-width: 1100px;
}

@media (max-width: 1280px) {
  .inner-home-card {
    width: 100vw;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.get-card {
  height: 500px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.retry-btn {
  background-color: #4094ef;
  color: white;
  border: none;
  height: 30px;
  width: 85px;
  border-radius: 5px;
}
.card-load {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
