.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-btn {
  background-color: #4094ef;
  color: white;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 700px) {
  .not-found img {
    height: 200px;
  }
  .not-found h1 {
    font-size: 20px;
  }
  .not-found p {
    font-size: 10px;
  }
  .home-btn {
    height: 30px;
    width: 90px;
    font-size: 10px;
  }
}
